// _includes/css/brand.scss

/*
{% colors %}

$font-head: {% for font in site.brand.font.head %}'{{ font }}', {% endfor %};
$font-body: {% for font in site.brand.font.body %}'{{ font }}', {% endfor %};
*/


{% colors %}

$font-head: {% for font in site.brand.font.head %}'{{ font }}', {% endfor %};
$font-body: {% for font in site.brand.font.body %}'{{ font }}', {% endfor %};
