/* ASSET: assets/css/layouts/page.scss */
/* Universal helpers */
/* INCLUDE: _includes/css/helpers.scss */
/* Normalise/reset */
/* INCLUDE: _includes/css/brand.scss */
/*
$color-1: #ff6633;
$color-1-text: #ffffff; // Generated
$color-1-dark-1: #bf4c26; // Generated
$color-1-dark-1-text: #ffffff; // Generated // Generated
$color-1-light-1: #ff8c66; // Generated
$color-1-light-1-text: #ffffff; // Generated // Generated
$color-2: #b1c2d3;
$color-2-text: #000000; // Generated
$color-2-dark-1: #84919e; // Generated
$color-2-dark-1-text: #ffffff; // Generated // Generated
$color-2-light-1: #c4d1de; // Generated
$color-2-light-1-text: #000000; // Generated // Generated
$color-bg: #ffffff;
$color-bg-text: #000000;
$color-bg-dark-1: #bfbfbf; // Generated
$color-bg-dark-1-text: #000000; // Generated // Generated
$color-bg-light-1: #ffffff; // Generated
$color-bg-light-1-text: #000000; // Generated // Generated
$font-head: 'Tahoma', 'Verdana', 'Segoe', 'sans-serif', ;
$font-body: 'Tahoma', 'Verdana', 'Segoe', 'sans-serif', ;
*/
/* Setup grid system */
/* INCLUDE: _includes/css/breakpoints.scss */
/* 130em */
/* Small SM */
/* Medium MD */
/* Large LG */
/* X-Small XS */
/* Small SM */
/* Medium MD */
/* Large LG */
/* INCLUDE: _includes/css/grid.scss */
.row:after {
  display: block;
  clear: both;
  content: ''; }

/* SYSTEM */
.row + .row {
  margin-top: 3%; }

[class^="col-"] {
  float: left;
  margin-right: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  [class^="col-"]:last-child {
    margin-right: 0; }

.col-1 {
  width: 5.5833333333%; }

.col-2 {
  width: 14.1666666667%; }

.col-3 {
  width: 22.75%; }

.col-4 {
  width: 31.3333333333%; }

.col-5 {
  width: 39.9166666667%; }

.col-6 {
  width: 48.5%; }

.col-7 {
  width: 57.0833333333%; }

.col-8 {
  width: 65.6666666667%; }

.col-9 {
  width: 74.25%; }

.col-10 {
  width: 82.8333333333%; }

.col-11 {
  width: 91.4166666667%; }

.col-12 {
  width: 100%; }

.primary {
  background-color: #ff6633;
  color: #ffffff; }

.secondary {
  background-color: #b1c2d3;
  color: #000000; }

.primary-dark {
  background-color: #bf4c26;
  color: #ffffff; }

.secondary-dark {
  background-color: #84919e;
  color: #ffffff; }

.primary-light {
  background-color: #ff8c66;
  color: #ffffff; }

.secondary-light {
  background-color: #c4d1de;
  color: #000000; }
