---
layout: html/blueprint/base
---

<div class="container">

	{% if page.meta.parents.size > 0 %}
	<h2>Parents</h2>
	<nav>
		<ul>
			{% for parent in page.meta.parents %}
			<li>{% link @{{ parent.id }} %}{{ parent.slug }}{% endlink %}</li>
			{% endfor %}
		</ul>
	</nav>
	{% endif %}

	{% if page.meta.langs.size > 1 %}
	<h2>Languages</h2>
	<nav>
		<ul>
			{% for lang in page.meta.langs %}
			<li>
				{% link @{{ page.meta.id }} lang={{ lang }} %}{{ lang }}{% endlink %}
			</li>
			{% endfor %}
		</ul>
	</nav>
	{% endif %}

	{{ content }}

	<h2>Footer</h2>
	<p>Footer</p>

</div>
