/* INCLUDE: _includes/css/breakpoints.scss */

$breaks: (
	sm: 30em,
	md: 50em,
	lg: 80em
);

/* 130em */

/* Small SM */
@mixin sm() {
	@media (min-width: map-get($breaks, 'sm')) {
		@content;
	}
}

/* Medium MD */
@mixin md() {
	@media (min-width:  map-get($breaks, 'md')) {
		@content;
	}
}

/* Large LG */
@mixin lg() {
	@media (min-width:  map-get($breaks, 'lg')) {
		@content;
	}
}
