<script src="{{ site.folders.js }}/lib/head/head.load.min.js"></script>
<script>
   <!--
   //head.load('https://cdn.polyfill.io/v2/polyfill.min.js');
   head.load('https://code.jquery.com/jquery-3.2.1.slim.min.js', function(){
      if(typeof jQuery === 'undefined'){
         head.load('{{ site.folders.js }}/lib/jquery/jquery-3.2.1.slim.min.js');
      };
      head.load('{{ site.folders.js }}/lib/jquery/jquery-plugins.js');
      head.load('{{ site.folders.js }}/lib/matchheight/matchHeight.jquery.js');
      head.load('{{ site.folders.js }}/main.js');
   });
   head.load({webfont: 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js'});
   //-->
</script>
