<script src="{{ site.assets.folders.js }}/special/head.min.js"></script>
<script>
   <!--

   head.load(
		{ jquery: '//code.jquery.com/jquery-3.2.1.slim.min.js' },

		{ main: '{{ site.assets.folders.js }}/main.js' },

   	{% unless false %}
			{% if site.assets.layouts[page.layout].js %}
				{ layout: '{{ site.assets.folders.js }}/layouts/{{ page.layout }}.js' },
			{% endif %}
		{% endunless %}

		{% for feature in page.features %}
			{% if site.assets.features[feature].js %}
				{ f_{{ feature }}: '{{ site.assets.folders.js }}/features/{{ feature }}.js' },
			{% endif %}
		{% endfor %}

   	{ webfont: '//ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js' },
	);

	//head.ready('jquery', function() {
		// Load plugins
		//if(typeof jQuery === 'undefined'){
		//	head.load('{{ site.folders.js }}/lib/jquery/jquery-3.2.1.slim.min.js');
		//};
	//});

	// Got this far, so remove no-js compatibility class
	(function(d){d.className=d.className.replace(/(^|\s)no-js(\s|$)/, ' ') + ' js'}(document.documentElement));

	//-->
</script>
