/* INCLUDE: _includes/css/base.scss */

{% include css/config.scss %}
{% include css/helpers.scss %}


/* ADDITIONAL RESET */

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: border-box; // I say "pish" to anything requiring anything else
}


/* UTILITY */
.no-css {
	display: none;
}


/* FONT STYLES */

body {
	font-family: $font-body;
	font-size: $font-size;
	line-height: $font-size * $font-size-inc;
}

#{h()} {
	font-family: $font-head;
	font-size: $font-size * (1 + (($font-size-inc - 1) / 2));
	line-height: #{strip-unit($font-size * (1 + (($font-size-inc - 1) / 2)))}em;
}

h3, .h3 {
	font-size: $font-size * ($font-size-inc);
}
h2, .h2 {
	font-size: $font-size * ($font-size-inc * $font-size-inc);
}
h1, .h1 {
	font-size: $font-size * ($font-size-inc * $font-size-inc * $font-size-inc);
}


/* MARGINS */
p, #{h()},
table {
	margin: 0 0 $margin-base 0;
	padding: 0;
}

hr {
	margin: $margin-base 0;
	padding: 0;
}

dl,
ol,
ul {
	margin: 0 0 $margin-base ($margin-base * 2);
	padding: 0;

	& dl,
	ol,
	ul {
		margin-bottom: 0;
	}
}

blockquote {
	margin: 0 ($margin-base * 2) $margin-base;
	padding: 0;
}

address,
fieldset,
form {
	display: block;
	margin: 0;
	padding: 0;
}

dd,
dt,
li {
	margin: 0;
	padding: 0;
}


/* LISTS */

dl,
ul {
	list-style: square outside none;
}

dt {
	display: list-item;
	font-weight: bold;
}

dt + dt {
	list-style: none;
}


/* TABLES */
$table-border: $font-pixel solid $color-bg-dark-1;

table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border-bottom: $table-border;
}

div.table, div.table-small > table, div.table-large > table {
	overflow-x: auto;
	margin-bottom: $margin-base; // Div takes the margin instead

	& > table { // Cancel margin on table witin div.table
		margin-bottom: 0;
	}
}

div.table-small > table, div.table-large > table {
	width: auto; // Override default 100%
}

div.table-large {
	max-width: none;
	min-width: 100%; // It's large so 100% or more (and will overflow)

	& td,
	th {
		min-width: $font-size * 10; // Stop large tables squishing columns
	}
}

td,
th {
	border-top: $table-border;
	vertical-align: middle;
	text-align: left;
	margin: 0;
	padding: ($margin-base / 4) ($margin-base / 2);

	&:first-child {
		padding-left: 0; // margin = $margin-base within middle of table
	}

	&:last-child {
		padding-right: 0; // ...but 0 around the edges
	}
}


/* LINKS */

#{a()} {
	text-decoration: none;
	color: $color-1;
	transition: color 0.75s;
}

#{a('hover')} {
	color: $color-1-dark-1;
	border-bottom: $font-pixel solid $color-1-dark-1;
	transition: color 0.125s;
}


/* IMAGES */

img {
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
}
