---
---

/* ASSET: assets/css/layouts/main.scss */

/* Universal helpers */
{% include css/helpers.scss %}
{% include css/brand.scss %}

/* Normalise/reset then overwrite */
{% include css/vendor/normalize.css %}
{% include css/baseline/base.scss %} // My reset
{% include css/baseline/typography.scss %}

/* Setup grid system */
{% include css/grid/breakpoints.scss %}
{% include css/grid/grid.scss %}


// DEBUG
.primary         { background-color: $color-1; color: $color-1-text }
.secondary       { background-color: $color-2; color: $color-2-text }
.primary-dark    { background-color: $color-1-dark-1; color: $color-1-dark-1-text }
.secondary-dark  { background-color: $color-2-dark-1; color: $color-2-dark-1-text }
.primary-light   { background-color: $color-1-light-1; color: $color-1-light-1-text }
.secondary-light { background-color: $color-2-light-1; color: $color-2-light-1-text }

body {margin-top: 6em}
h1 { background: #fff; position: fixed; top: 0 }

// Links

#{a('hover')} {
	transform: translateZ(1em);
}
