# Essential
.git
.env

# Windows
*.lnk
*.db
*.ini

# Temp/cache/logs
*.log
*.map
.jekyll-metadata
.sass-cache/
.jekyll-cache/
/tmp/
.rspec_status
*/cache/

# Working files/dirs
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/

# Public output
/public/