$form_controls: "input, select, textarea, button";
$form_text: "label, legend, fieldset, output";

#{$form_controls}, #{$form_text} {
   display: block;
   font-size: 100%;
   color: $color-text;
   line-height: normal;
   background-image: none;
   border: 0;
   outline: 0;
}
label, input[type="checkbox"], input[type="radio"] { display: inline }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
   height: auto;
}
input[type="search"] {
   -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
}

/* Styles */

button, input[type="submit"], [role="button"] {
   cursor: pointer;
}

#{$form_text} {
   margin: 0 0 0.25em 0;
   font-weight: bold;
}

%form_highlight {
   border-color: $color-1;
   box-shadow: 0 0 1em rgba($color-1, 0.6);
   outline: 0;
}

#{$form_controls} {
   font-size: 110%;
   padding: 0.5em 1em;
   margin: 0 0 1em 0;
   height: 3em;
   width: 100%; max-width: 100%;
   color: $color-text;
   background-color: $color-bg;
   box-shadow: inset 0 0.25em 0.25em rgba(darken($color-bg, 25%), 0.25);

   &:focus {
      @extend %form_highlight;
   }

   &::-moz-placeholder, &:-ms-input-placeholder, &::-webkit-input-placeholder {
      color: lighten($color-text, 60%);
      opacity: 1;
   }

   &::-ms-expand {
      border: 0;
      background-color: transparent;
   }

   &[disabled], &[readonly] {
      background-color: darken($color-bg, 10%);
      opacity: 1;
      cursor: not-allowed;
   }

}

#{$form_controls}, fieldset {
   margin-bottom: 1em;
   border: 0.05em solid darken($color-bg, 25%);
   border-radius: 0.5em;
}
fieldset { padding: 0.5em 1em; }

input[type="submit"], button {
   box-shadow: none;
   background-color: $color-1;
   color: $color-1-neg;
   border: 0;
   font-weight: bold;

   &:hover {
      @extend %form_highlight;
   }
}

textarea, select[multiple], select[size] {
   height: auto; min-height: 3em;
}
input[type="checkbox"], input[type="radio"] {
    vertical-align: baseline;
    position: relative; top: 0.45em;
    width: 1.5em;
    height: 1.5em;
    padding: 0
}
