<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> {% if page.hidden %}
	<meta name="robots" content="NOINDEX, NOFOLLOW" /> {% endif %} {% include snippets/gtm.html pos="head" %}
	<!-- Must be high as possible in <head> -->

	<!-- SEO -->
	<title>{{ page.meta.title | escape }}</title>
	<meta name="description" content="{{ page.meta.description | escape }}" />

	<!-- STYLES -->
	{% include snippets/styles.html %}

	<!-- SCRIPTS -->
	{% include snippets/scripts.html %}

	<!-- OTHER -->
	{% include snippets/compatibility.html %} {% include snippets/favicon.html %} {% include snippets/verify.html %}
</head>

<body id="top">
	{% include snippets/gtm.html pos="body" %}
	<!-- Must be immediately after <body> -->

	<!-- Browser Warning -->
	{% include snippets/browser.html %}

	<!-- BODY -->
	<div class="container">

		<h1>{{ page.title }} @
			<span class="sm-hidden">xs</span>
			<span class="sm-visible md-hidden">sm</span>
			<span class="md-visible lg-hidden">md</span>
			<span class="lg-visible xl-hidden">lg</span>
			<span class="xl-visible">xl</span>:
			<span id="em">0</span>em
		</h1>

		<div class="grid">
			<div class="cell grid xl-1in2">

				<div class="cell grid">
					<div class="cell-auto primary">
						<p>Hello world! I am primary.</p>
					</div>
					<div class="cell-auto primary-dark">
						<p>Hello world! I am primary dark.</p>
					</div>
					<div class="cell-auto primary-light">
						<p>Hello world! I am primary light.</p>
					</div>
					<div class="cell-auto flex-last secondary">
						<p>IAM LAST :( Hello world! I am secondary. And I'm way, way cooler than all the other colours! Come to my party. It will be great.</p>
					</div>
					<div class="cell-auto flex-first secondary-dark">
						<p>I AM FIRST AHAHAH! Hello world! I am secondary dark.</p>
					</div>
					<div class="cell-auto secondary-light">
						<p>Hello world! I am secondary light.</p>
					</div>
				</div>

				<div class="cell grid secondary-light">
					<div class="cell lg-1in3">
						<p>Hello world! I am primary.</p>
					</div>
					<div class="cell grid lg-2in3">
						<div class="cell lg-1in2">
							<p>Hello world! I am primary dark.</p>
						</div>
						<div class="cell lg-1in2">
							<p>Hello world! I am primary light.</p>
						</div>
					</div>
					<div class="cell lg-1in8">
						<p>Hello world! I am primary dark.</p>
					</div>
					<div class="cell lg-1in8">
						<p>Hello world! I am primary light.</p>
					</div>
					<div class="cell md-1in8">
						<p>Hello world! I am secondary dark.</p>
					</div>
					<div class="cell md-1in8">
						<p>Hello world! I am secondary light.</p>
					</div>
					<div class="cell lg-1in8">
						<p>Hello world! I am primary dark.</p>
					</div>
					<div class="cell lg-1in8">
						<p>Hello world! I am primary light.</p>
					</div>
					<div class="cell md-1in8">
						<p>Hello world! I am secondary dark.</p>
					</div>
					<div class="cell md-1in8">
						<p>Hello world! I am secondary light.</p>
					</div>
				</div>

				<div class="cell grid">
					<div class="cell md-1in2">
						<div class="grid-img lg-grid-img-left">
							<div class="cell-img-h">
								<h4>Cat</h4>
							</div>
							<div class="cell-img-img">
								<img src="http://placekitten.com/50/50" />
							</div>
							<div class="cell-img-body">
								<p>Hello world! I am primary.</p>
							</div>
						</div>
					</div>
					<div class="cell md-1in2">
						<div class="grid-img lg-grid-img-left">
							<div class="cell-img-h">
								<h4>Cat</h4>
							</div>
							<div class="cell-img-img">
								<div class="card-img"> <img src="http://placekitten.com/50/50" /></div>
							</div>
							<div class="cell-img-body">
								<p>Hello world! I am primary.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="cell cards">
					<div class="cell md-1in2">
						<div class="card primary">
							<div class="grid-img lg-grid-img-left">
								<div class="cell-img-h">
										<h4>Cat</h4>
								</div>
								<div class="cell-img-img">
									<img src="http://placekitten.com/50/50" />
								</div>
								<div class="cell-img-body">
										<p>Hello world! I am primary.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="cell md-1in2">
						<div class="card primary">
							<div class="card-inner">
								<div class="grid-img lg-grid-img-left">
									<div class="cell-img-h">
											<h4>Cat</h4>
									</div>
									<div class="cell-img-img">
										<div class="card-img"> <img src="http://placekitten.com/50/50" /></div>
									</div>
									<div class="cell-img-body">
											<p>Hello world! I am primary.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="cell grid xl-1in2">

				<div class="cell cards">
					<div class="cell card sm-1in3 md-1in4">
						<div class="card primary-dark">
								<p>Hello world! I am primary dark.</p>
						</div>
					</div>
					<div class="cell sm-1in3 md-1in4">
						<div class="card secondary">
							<div class="card-inner">
								<p>Hello world! I am secondary. And I'm way, way cooler than all the other colours! Come to my party. It will be great.</p>
							</div>
						</div>
					</div>
					<div class="cell sm-1in3 md-1in4">
						<div class="card primary">
							<div class="grid-img">
								<div class="cell-img-h">
										<h4>Cat</h4>
								</div>
								<div class="cell-img-img">
									<img src="http://placekitten.com/50/50" />
								</div>
								<div class="cell-img-body">
										<p>Hello world! I am primary.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="cell sm-1in3 md-1in4">
						<div class="card secondary">
							<div class="card-inner">
								<div class="grid-img">
									<div class="cell-img-h">
											<h4>Cat</h4>
									</div>
									<div class="cell-img-img">
										<img src="http://placekitten.com/50/50" />
									</div>
									<div class="cell-img-body">
											<p>Hello world! I am primary.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cell grid">
					<div class="cell-auto flex-first-2 primary">
						<p>Hello world! I am primary.</p>
					</div>
					<div class="cell-auto primary-dark">
						<p>Hello world! I am primary dark.</p>
					</div>
					<div class="cell-auto flex-first-3 primary-light">
						<div class="grid-img">
							<div class="cell-img-h">
									<h4>Cat</h4>
							</div>
							<div class="cell-img-img">
								<img src="http://placekitten.com/50/50" />
							</div>
							<div class="cell-img-body">
									<p>Hello world! I am primary.</p>
							</div>
						</div>
					</div>
					<div class="cell-auto flex-last secondary">
						<p>IAM LAST :( Hello world! I am secondary. And I'm way, way cooler than all the other colours! Come to my party. It will be great.</p>
					</div>
					<div class="cell-auto flex-first secondary-dark">
						<img src="http://placekitten.com/640/360" />
						<p>I AM FIRST AHAHAH! Hello world! I am secondary dark.</p>
					</div>
					<div class="cell-auto secondary-light">
						<p>Hello world! I am secondary light.</p>
					</div>
				</div>

			</div>

		</div>

		{{ content }}

	</div>

	<!-- /BODY -->

	<!--
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script src="/assets/scripts/libraries/jquery/jquery-plugins.js"></script>
		<script src="/assets/scripts/libraries/matchheight/matchHeight.jquery.js"></script>
		<script src="/assets/scripts/main.js"></script>
		//-->
	<!--
		<script>
			head.ready('webfont', function() {
				WebFont.load({
					google: {
						families: ['Didact Gothic']
					}
				});
			});
		</script>
		//-->
</body>

</html>
