/* ASSET: assets/css/features/form.scss */
/* INCLUDE: _includes/css/config.scss */
/* BRAND */
/* TYPOGRAPHY */
/* LAYOUT */
/* GRID SETUP */
input, select, textarea, button, fieldset, label, legend, output {
  display: block;
  vertical-align: middle;
  font-size: 1rem;
  color: #000000;
  line-height: normal;
  background-image: none;
  border: 0;
  outline: 0; }

label, input[type="checkbox"], input[type="radio"] {
  display: inline-block; }

/* Styles */
input:focus, select:focus, textarea:focus, button:focus, fieldset:focus, input[type="submit"]:hover, button:hover {
  border-color: #ff6633;
  box-shadow: 0 0 1rem rgba(255, 102, 51, 0.6);
  outline: 0; }

input, select, textarea, button, fieldset {
  box-shadow: inset 0 0.25rem 0.25rem rgba(204, 204, 204, 0.25); }

label, legend, output {
  margin: 0 0 0 -0.5rem;
  padding: 0.25rem 0.5rem;
  font-weight: bold; }

legend {
  background-color: #ffffff;
  border-bottom: 0.05rem solid rgba(191, 191, 191, 0.5);
  border-radius: 0.5em; }

input, select, textarea, button, fieldset {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  margin: 0 0 1rem 0;
  min-height: 3rem;
  width: 100%;
  max-width: 100%;
  color: #000000;
  background-color: #ffffff;
  border: 0.05rem solid #bfbfbf;
  border-radius: 0.5rem; }
  input::placeholder, select::placeholder, textarea::placeholder, button::placeholder, fieldset::placeholder {
    color: #999999;
    opacity: 1; }
  input[disabled], input[readonly], select[disabled], select[readonly], textarea[disabled], textarea[readonly], button[disabled], button[readonly], fieldset[disabled], fieldset[readonly] {
    background-color: #e6e6e6;
    opacity: 1;
    cursor: not-allowed; }

input[type="submit"], button {
  box-shadow: none;
  background-color: #ff6633;
  color: #ffffff;
  border: 0;
  font-weight: bold;
  cursor: pointer; }

input[type="checkbox"], input[type="radio"] {
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0;
  box-shadow: none; }

/* Compatibility */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

select::-ms-expand {
  border: 0;
  background-color: transparent; }
