/* ASSET: assets/css/features/video.scss */
/* INCLUDE: _includes/css/brand.scss */
/*
$color-1: #ff6633;
$color-1-text: #ffffff; // Generated
$color-1-dark-1: #f8001f; // Generated
$color-1-dark-1-text: #ffffff; // Generated // Generated
$color-1-light-1: #ff963f; // Generated
$color-1-light-1-text: #ffffff; // Generated // Generated
$color-bg: #ffffff;
$color-bg-text: #000000;
$color-bg-dark-1: #f8e9fc; // Generated
$color-bg-dark-1-text: #000000; // Generated // Generated
$color-bg-light-1: #ffffff; // Generated
$color-bg-light-1-text: #000000; // Generated // Generated
$font-head: 'Tahoma', 'Verdana', 'Segoe', 'sans-serif', ;
$font-body: 'Tahoma', 'Verdana', 'Segoe', 'sans-serif', ;
*/
